@charset "utf-8";

// Solarized colors, see http://www.zovirl.com/2011/07/22/solarized_cheat_sheet/
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

$primary: $violet;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $base03;
$text: $base00;
$background: $base2;

$fa-font-path: "";
$footer-padding: 3rem 1.5rem;
$card-header-background-color: $info;

.card {
    margin-bottom: 2rem;
}

.tag {
    margin-left: .5rem;
}

.card-header-title .icon {
    margin-right: 0.5rem;
}

@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "bulma/bulma";