name: github pages

on:
  push:
    branches:
      - master
  workflow_run:
    workflows: [update prices]
    types:
      - completed


jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: borales/actions-yarn@v5.0.0
        with:
          cmd: install

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify && hugo --minify --config config-alt.toml

      - name: Deploy to gh-pages of current repo
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: ./public
          cname: youshouldhaveboughtstocks.com

      - name: Deploy to gh-pages of second repo
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: ./public-alt
          cname: stocksyoushouldhavebought.com
          external_repository: Niek/StocksYouShouldHaveBought
          publish_branch: gh-pages
