name: update prices

on:
  schedule:
    - cron: 1 * * * * # Every hour

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Update prices + commit
        run: |
          ./update-data.sh
          git config --local user.email "niek@github.com"
          git config --local user.name "Niek"
          /bin/bash -c 'if [ ! -z "$(git status -s content/_index.md)" ]; then git commit -m "Updated price data" -a; fi'

      - name: Push changes
        uses: ad-m/github-push-action@v1.0.0
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          branch: master
